# Ignore everything
*

# But not these files...
!/bin
!.bash_aliases
!.bash_profile
!.git-completion.bash
!.gitconfig
!.gitignore
!.inputrc
!.pryrc
!README.md
# etc...

# ...even if they are in subdirectories
*/